* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: cursive;
}

.container {
    max-width: 100%;
    width: 65%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.b1{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.b2{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: orange;
}